.link {
  font-size: clamp(0.5rem, 4vw, 2.5rem);
}

.sublink {
  font-size: clamp(0.05rem, 2.32vw, 2rem);
  position: absolute;
  margin-top: clamp(0.05rem, 8vw, 6rem);
  margin-right: clamp(0.05rem, 2vw, 6rem);
  align-self: end;
}

/* position: absolute is causing issues
want to be able to center based on a specific div... */
