.header-color {
  background-image: linear-gradient(to right, black, gray);
  color: transparent;
  background-clip: text;
  /* height: fit-content; */
  width: fit-content;
  font-size: clamp(2rem, 5.5vw + 1rem, 8rem);
}
