@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Oi&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --red: #ff595e;
  --yellow: #ffca3a;
  --green: #8ac926;
  --blue: #1982c4;
  --purple: #6a4c93;
}

body {
  background: theme("colors.gray.100");
  color: rgb(var(--foreground-rgb));
}
