.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.news-piece {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 20%;
  margin: 0;
  padding: 0;
  position: relative;
  flex-shrink: 0;
  font-size: clamp(0.5rem, 1.8vw, 2rem);
  font-family: "Average Sans";
  text-wrap: nowrap;
}
