/* Make it a marquee */
.marquee {
  margin-top: 1rem;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  width: 100vw;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
